<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="userPayment" fileName="C:\Users\bobok\source\repos\EcommerceWeb\EcommerceWebApp\Logging\nlog-EcommerceWeb-Payment-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="userIdentity" fileName="C:\Users\bobok\source\repos\EcommerceWeb\EcommerceWebApp\Logging\nlog-EcommerceWeb-IdentityAccount-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="globalException" fileName="C:\Users\bobok\source\repos\EcommerceWeb\EcommerceWebApp\Logging\nlog-EcommerceWeb-GlobalException-${shortdate}.log"
       layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="orderStatus" fileName="C:\Users\bobok\source\repos\EcommerceWeb\EcommerceWebApp\Logging\nlog-EcommerceWeb-OrderStatus-${shortdate}.log"
       layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="createRecord" fileName="C:\Users\bobok\source\repos\EcommerceWeb\EcommerceWebApp\Logging\nlog-EcommerceWeb-CreateRecord-${shortdate}.log"
       layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="updateRecord" fileName="C:\Users\bobok\source\repos\EcommerceWeb\EcommerceWebApp\Logging\nlog-EcommerceWeb-UpdateRecord-${shortdate}.log"
      layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="EcommerceWebApp.Areas.User.Pages.Shoping_cartModel" minlevel="Info" writeTo="userPayment" />
    <logger name="orderLogger" minlevel="Info" writeTo="orderStatus" />
    <logger name="EcommerceWebApp.Areas.Admin.Pages.*.EditModel" minlevel="Info" writeTo="updateRecord" />
    <logger name="EcommerceWebApp.Areas.Admin.Pages.*.CreateModel" minlevel="Info" writeTo="createRecord" />
    <logger name="EcommerceWebApp.Areas.Identity.Pages.Account.*" minlevel="Info" writeTo="userIdentity" />
    <logger name="EcommerceWebApp.*" minlevel="Error" writeTo="globalException" />
  </rules>
</nlog>